extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'
block body
	section.mobile-style
		.container
			.row
				.col
					.mobile
						.top
						.bottom
						.screen
							img.image(src="../img/bg.jpg", alt="background	", srcset="")
							h2 13:00 
								span AM
								br
								span 11/10/2019
							nav
								ul
									li
										i.fas.fa-phone
									li
										i.fab.fa-facebook-messenger
									li
										i.fas.fa-camera
									li
										i.fas.fa-image
	section.rotate-square
		.container
			.row
				.col
					.rotate-square-loader
						.square.one
						.square.two
						.square.three
						.square.four
	section.layer-3d-image
		.container
			.row
				.col
					.layer-3d
						img.image.img-fluid(src="../img/bg.jpg", alt="background", srcset="")
						img.image.img-fluid(src="../img/bg.jpg", alt="background", srcset="")
						img.image.img-fluid(src="../img/bg.jpg", alt="background", srcset="")
						img.image.img-fluid(src="../img/bg.jpg", alt="background", srcset="")
	section.scroll-down
		.container
			.row
				.col
					.indicator-animation
						span
						span
						span
						span
	section.ring-loader
		.container
			.row
				.col
					.ring Loading
						span 
	section.product-image-slider
		.container
			.row
				.col
					nav.product
						ul
							li
								a.img-product(href="../img/img1.jpg" target="imgBox")
									img(src="../img/thumb1.jpg", alt="")
							li
								a.img-product(href="../img/img2.jpg" target="imgBox")
									img(src="../img/thumb2.jpg", alt="")
							li
								a.img-product(href="../img/img3.jpg" target="imgBox")
									img(src="../img/thumb3.jpg", alt="")
						.imgBox
							img.image-box(src="../img/img1.jpg", alt="")
	section.screen-overlay
		.container-fluid
			.row
				.col
					.toggle
					.navigation
						nav
							ul
								li
									a(href="#" data-text="Home") Home
								li
									a(href="#" data-text="About") About
								li
									a(href="#" data-text="Services") Services
								li
									a(href="#" data-text="Team") Team
								li
									a(href="#" data-text="Profile") Profile
								li
									a(href="#" data-text="Contact") Contact
	section.video-full-screen(data-vide-bg="./videos/videoFroBg")
		.container
			.row
				.col
					.login-form
						form(action="#", method="get")
							h2.header-content Sign In
							.text-username
								input(type="text" name="username" placeholder="Enter username")
							.text-password
								input(type="password" name="password" placeholder="Enter password")
							.button-submit
								button(type="submit") Logn In
						.forget-password
							a(href="#") Forget Password
	section.quote-box
		.container
			.row
				.col
					.box
						i.fas.fa-quote-right.one
						.text
							i.fas.fa-quote-left.two
							.text__content
								h2 Quote of the Day
								p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi facere veritatis ex delectus ea, non, exercitationem nisi eius aliquam numquam placeat odio hic cumque vel aperiam laudantium fugit blanditiis temporibus? 
	section.wrap-text-circle
		.container
			.row
				.col
					.wrapper
						.circle
						h2 This is Wrap Text
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit provident corrupti excepturi adipisci nemo. Sed, quis excepturi repudiandae, fugit delectus ullam ipsa itaque maxime corrupti sapiente est voluptatem iste dolorem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit provident corrupti excepturi adipisci nemo. Sed, quis excepturi repudiandae, fugit delectus ullam ipsa itaque maxime corrupti sapiente est voluptatem iste dolorem! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit provident corrupti excepturi adipisci nemo. Sed, quis excepturi repudiandae, fugit delectus ullam ipsa itaque maxime corrupti sapiente est voluptatem iste dolorem!
	section.animating-perspective
		.bg1
		.bg2
		.container
			.row
				.col
					.left
						h1 CrytoCurrensies
						p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae tempore repellendus quo, accusantium molestiae alias omnis magni illum sed eius fuga vel perspiciatis modi quasi. Neque ratione eligendi atque vel.
					.right
						nav
							ul
								li
									img(src="./img/appcoins.svg", alt="bitcoin icon")
									span
										strong AppCoins
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								li
									img(src="./img/aelf.svg", alt="bitcoin icon")
									span
										strong Aelfs
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
								li
									img(src="./img/iota-1.svg", alt="bitcoin icon")
									span
										strong Iotas
										p Lorem ipsum dolor sit amet consectetur adipisicing elit.
	section.sticky-section-scrolling
		.box-image
		.box-image
		.box-image
		.box-image
		.box-image
	section.hover-card-tiltjs
		.container
			.row
				.col-md-4
					.card
						.child
				.col-md-4
					.card
						.child
				.col-md-4
					.card
						.child
	section.iphone6
		.container
			.row
				.col
					.mobile
						.screen
						.home
						.inner
						ul.volume
							li
							li
						ul.silent
							li 
						ul.sleep
							li 
	section.reflection
		.container
			.row
				.col
					.text(data-text="Reflection") Reflection
	section.move-background
		.box
	section.glowing-gradient-ring-loader
		.container
			.row
				.col
					.ring-loader
						span
						span
						span
						span
	section.animated-wave
		.wave
	section.blur-glass-transparent
		.container
			.row
				.col
					.box
						h1 This is header
						p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, voluptatibus dicta fuga sint totam voluptate? Temporibus corrupti vel, quasi modi quo eligendi saepe labore ab alias. Ut facilis necessitatibus nesciunt. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat odio animi tempora, corrupti neque incidunt nobis ad tempore quos esse? Accusamus vitae veniam sint nemo explicabo voluptatibus nobis consectetur nesciunt.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore, voluptatibus dicta fuga sint totam voluptate? Temporibus corrupti vel, quasi modi quo eligendi saepe labore ab alias. Ut facilis necessitatibus nesciunt. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quaerat odio animi tempora, corrupti neque incidunt nobis ad tempore quos esse? Accusamus vitae veniam sint nemo explicabo voluptatibus nobis consectetur nesciunt.
	section.knockout-text
		h1 Place 
			span Your
			span Text
			span Here....
	section.text-typing-animation
		.container
			.row
				.col
					.type(data-splitting="words")
						h2 This is typing text using Splitting.js
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid incidunt laudantium magni cumque ut iure consequatur, voluptatibus doloremque, qui ad, nisi accusamus asperiores illum dolorum magnam? Soluta molestias aliquam iusto.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis consequatur error vero nihil illo, labore eum quas quo aspernatur deleniti harum hic nobis quidem fuga debitis molestias dicta ratione et.
	section.text-typing-animation2
		.container
			.row
				.col
					.type(data-splitting="words")
						h2 This is typing text using Splitting.js
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid incidunt laudantium magni cumque ut iure consequatur, voluptatibus doloremque, qui ad, nisi accusamus asperiores illum dolorum magnam? Soluta molestias aliquam iusto.
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis consequatur error vero nihil illo, labore eum quas quo aspernatur deleniti harum hic nobis quidem fuga debitis molestias dicta ratione et.
	section.card-hover-toggle-button
		.container
			.row
				.col
					.card
						input(type="checkbox", name="")
						.toggle + 
						.img-box
							img(src="../img/sticky02.jpg", alt="", srcset="")
						.content
							h2 Someone is famous
							p Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae eius quas molestiae optio veritatis, deleniti possimus voluptatibus, aliquam iusto tempora est commodi eos facilis, ducimus magnam facere! Illo, ullam consectetur.
	section.glowing-gradient-border
		.card
			.content
				h2 This is content
				p Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium repellendus quibusdam ea rem, quia iste nostrum enim deserunt, doloremque ut qui veritatis consequatur natus neque odio architecto. Suscipit, veniam perspiciatis?
	section.hover-button-effect
		a(href="#").button-fake
			span
			span
			span
			span
			| Button